<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ca.bcit.turnip"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />
    <uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" android:name=".helper.MyApp">
        <activity
            android:name="ca.bcit.turnip.LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="ca.bcit.turnip.WelcomeActivity"
            android:label="@string/title_activity_second">
            
        </activity>
        <activity
            android:name="ca.bcit.turnip.Act_Register"
            android:label="@string/title_activity_new_user"
            android:parentActivityName="ca.bcit.turnip.LoginActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ca.bcit.turnip.LoginActivity" />
        </activity>
        <activity
            android:name="ca.bcit.turnip.RegisterActivity"
            android:label="@string/title_activity_register">
            
        </activity>
        <activity
            android:name="ca.bcit.turnip.QuizActivity"
            android:label="@string/title_activity_quiz" >
        </activity>
        <activity
            android:name="ca.bcit.turnip.ScoreActivity"
            android:label="@string/title_activity_score" >
        </activity>
    </application>

</manifest>
